<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Saber Shop</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="!collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Sabers</a></li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="/login">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated"><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
                <li class="dropdown" *ngIf="isAuthenticated" appDropdown>
                    <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor:pointer;" routerLink="/manage-sabers">Manage Sabers</a></li>
                        <li><a style="cursor:pointer;" routerLink="/orders">Orders</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>