<h3>Orders</h3>
<div class="alert alert-warning" *ngIf="orders && orders.length === 0" role="alert">Currently there are no orders to show.</div>
<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
<div class="panel panel-default" *ngFor="let order of orders">
    <div class="panel-body">
        <div class="row orders-item">
            <div class="col-xs-8 col-sm-4">
                <h5>Id</h5>
                <div>{{order.orderId}}</div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <h5>Cost</h5>
                <div>{{order.cost + "Cr"}}</div>
            </div>
            <div class="col-xs-12 col-sm-4 button-container">
                <button *ngIf="!order.accepted" type="button" class="btn btn-success details" (click)="acceptOrder(order.orderId, order.saberId)">Accept</button>
                <button *ngIf="order.accepted" type="button" class="btn btn-disabled details">Accepted</button>
                <button type="button" class="btn btn-primary details" (click)="showDetails(order.orderId)">{{order.showDetail ? 'Hide' : 'Show'}} <span class="caret"></span></button>
            </div>
        </div>
        <div *ngIf="order.showDetail" class="row order-item">
           <app-order [order]="order"></app-order>
        </div>
    </div>
</div>