<div class="col-xs-12 order" [@section]>
    <div>
        <span>Ssber Name: </span><span>{{order.saberName}}</span>
    </div>
    <div>
        <span>Saber Color: </span><span>{{order.saberColor}}</span>
    </div>
    <div>
        <span>Saber Crystal: </span><span>{{order.saberCrystal}}</span>
    </div>
    <div>
        <span>E-mail: </span><span>{{order.contactDetails.email}}</span>
    </div>
    <div>
        <span>Phone Number: </span><span>{{order.contactDetails.phoneNo}}</span>
    </div>
    <div>
        <span>Street: </span><span>{{order.contactDetails.street}}</span>
    </div>
    <div>
        <span>Postal Code: </span><span>{{order.contactDetails.postalCode}}</span>
    </div>
    <div>
        <span>City: </span><span>{{order.contactDetails.city}}</span>
    </div>
</div>