//Font-sizes
$font-size-small: 10px;
$font-size-medium: 16px;
$font-size-large: 24px;

//Gutter pixels
$gutter: 20px;
$gutter-mobile: 10px;

// Font families
$font-families: "Barlow", Arial, sans-serif;

// Responsive widths
$mobile-portrait: 500px;
$mobile-landscape: 740px;
$tablet-small: 767px;
$tablet-large: 1024px;
$desktop-large: 1320px;

// Colors
$color-error: red;
